.top{
text-align:left;
font-size:35px;
color:white;
background-color: #666666;
}
.top-text{
margin-left:20px;
}
p,li{
text-align:justify;
padding:25px;
}
a{
color:white;
}
.butt{
padding:7px;
text-align:center;
align:center;
border:2px solid red;
background-color:red;
font-size:17px;
width:100%;
color:white;
padding:5px;
border-radius:5px;
}
.tex{
color:black;
}
#mp
{
align:center;
overflow:hidden;
}
@media all and (min-width:550px){
.tex{
margin-left:15%;
margin-right:15%;
padding:1%;
background-color:lightgrey;
color:black;
}
#mp
{
display: none;
}
.top{
text-align:left;
font-size:50px;
color:white;
background-color: #666666;
}
.top-text{
margin-left:30px;
}
.carousel-indicators > li {
  width:10px;
  height:10px;
  border-radius: 50%;
}
body
{
background-color: lightgrey;
}
.butt{
padding:7px;
text-align:center;
border:2px solid black;
font-size:25px;
background-color:white;
color:white;
border-radius:15px;
}
p,li{
text-align:justify;
}
h2{
font-weight:bolder;
}
}
